* {
    margin: 0;
    padding: 0;
}
@media screen and (max-width:490px){
         .producto-section{display: grid; 
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
            gap: 0px 0px; 
            display:grid;
            justify-content: center;
            flex-direction: column;
        

    }
      
}

.header-container {
    color: aliceblue;
    background-color: #F06926 ;
    display: flex;
    justify-content: center;
     
    
}

.section-container {
    color: aliceblue;
    background-color: #FAB28E;
    padding: 0.50%; 
    display: flex;
    justify-content: center;
    font-family: 'Arvo', serif;    
}


.section {
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

    

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 50px;
}

.contenedor-imagenes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100px;
    margin: 50px auto;
}

.box:hover {
    transform: scale(2);
}
.box-1:hover{
    transform: scale(2);

}
.box-2:hover{
    transform: scale(2);
}


.imagenes-item{
    width: 500px;
    height: 350px;
    margin-bottom: 30px;
    object-fit: cover;
    padding: 10%;
    transition: all 2s;
    

}
.icono-container {
    position: fixed;
    right: 60px;
    bottom: 20px;
    width: 60px
}


.footer-container { 
    color: aliceblue;
    background-color: #F06926 ;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    
}

.footer {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.footer-item {
    width: 60px;
}



/* Contacto */
.portada {
    width: 100%;
    height: 300px;
} 

/* Productos.html */

.producto-section {
    display: flex;
    justify-content: center;
    grid-gap: 20px;
  

}

.producto-item {
 
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
        
}

/* Franquicias.html */

.franquicias-section {
    margin: 70px;
}

.titulo-franquicias {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 40px;
letter-spacing: 2px;
word-spacing: 2px;
color: black;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}

.parrafo-franquicias{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
color: rgb(71, 67, 67);
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
margin: 20px;

}

.sucursales-maps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sucursal-container {
    grid-template-rows: 200px 200px 200px 200px;
}
.sucursal-img {
    margin: 40px;
   
}

.parrafo-img {
margin: 5px;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 15px;
letter-spacing: 2px;
word-spacing: 2px;
color: rgb(71, 67, 67);
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;

}

/* Nosotros.html */
.imagen-portada {
    width: 100%;
    height: 300px;
}

.titulos-item, .titulo-item1, .titulo-item2, .titulo-item3 {
border: 4px solid black;
margin: 30px;
padding: 20px;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 18px;
letter-spacing: 2px;
word-spacing: 2px;
color: rgb(71, 67, 67);
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}


.parrafo-item {
    margin: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(71, 67, 67);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;

}